@import url("./themes.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* genos-gfg - regular */
  @font-face {
    font-family: "GenosGFG";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/GenosGFG/GenosGFG-Regular.ttf") format("truetype");
    src:
      local(""),
      url("/fonts/genos-gfg/GenosGFG-Regular.woff") format("woff"),
      url("/fonts/genos-gfg/GenosGFG-Regular.ttf") format("truetype"),
      url("/fonts/genos-gfg/GenosGFG-Regular.svg") format("svg");
  }
  /* genos-gfg - regular italic */
  @font-face {
    font-family: "GenosGFG";
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/GenosGFG/GenosGFG-RegularItalic.ttf") format("truetype");
    src:
      local(""),
      url("/fonts/genos-gfg/GenosGFG-RegularItalic.woff") format("woff"),
      url("/fonts/genos-gfg/GenosGFG-RegularItalic.ttf") format("truetype"),
      url("/fonts/genos-gfg/GenosGFG-RegularItalic.svg") format("svg");
  }
  /* genos-gfg - bold */
  @font-face {
    font-family: "GenosGFG";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("/fonts/GenosGFG/GenosGFG-Bold.ttf") format("truetype");
    src:
      local(""),
      url("/fonts/genos-gfg/GenosGFG-Bold.woff") format("woff"),
      url("/fonts/genos-gfg/GenosGFG-Bold.ttf") format("truetype"),
      url("/fonts/genos-gfg/GenosGFG-Bold.svg") format("svg");
  }
  /* genos-gfg - bold italic */
  @font-face {
    font-family: "GenosGFG";
    font-style: italic;
    font-weight: 600;
    font-display: swap;
    src: url("/fonts/GenosGFG/GenosGFG-BoldItalic.ttf") format("truetype");
    src:
      local(""),
      url("/fonts/genos-gfg/GenosGFG-BoldItalic.woff") format("woff"),
      url("/fonts/genos-gfg/GenosGFG-BoldItalic.ttf") format("truetype"),
      url("/fonts/genos-gfg/GenosGFG-BoldItalic.svg") format("svg");
  }
  /* genos-gfg - condensed */
  @font-face {
    font-family: "GenosGFG";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("/fonts/GenosGFG/GenosGFG-Condensed.ttf") format("truetype");
    src:
      local(""),
      url("/fonts/genos-gfg/GenosGFG-Condensed.woff") format("woff"),
      url("/fonts/genos-gfg/GenosGFG-Condensed.ttf") format("truetype"),
      url("/fonts/genos-gfg/GenosGFG-Condensed.svg") format("svg");
  }

  body {
    @apply font-main text-content-text;
  }

  h1,
  .h1 {
    @apply mb-4 mt-0 font-main text-5xl font-medium text-headings-h1 lg:text-6xl xl:text-8xl;
  }
  h2,
  .h2 {
    @apply mb-2 mt-0 font-main text-4xl font-medium text-headings-h2 lg:mb-4 lg:text-5xl xl:text-7xl;
  }
  h3,
  .h3 {
    @apply mb-2 mt-0 font-main text-3xl font-medium text-headings-h3 lg:mb-4 lg:text-4xl xl:text-6xl;
  }
  h4,
  .h4 {
    @apply mb-2.5 mt-0 font-main text-2xl font-medium text-headings-h4 lg:mb-5 lg:text-3xl xl:text-5xl;
  }
  h5,
  .h5 {
    @apply mb-2.5 mt-0 font-main text-xl font-medium text-headings-h5 lg:text-2xl xl:text-4xl;
  }
  h6,
  .h6 {
    @apply mb-2.5 mt-0 font-main text-md font-medium text-headings-h6 lg:text-xl xl:text-2xl;
  }
  p,
  .p {
    @apply text-md lg:text-lg;
  }
  a,
  .link {
    @apply focus-style font-normal text-content-link hover:text-content-link-hover;
  }
}

@layer utilities {
  /* GSAP Animation 
  * Use custom class to disable content before animation is start to avoid flash of content.
  * Custom class is neccessary to make elements visible when JS is disabled.
  */
  .gsap-invisible {
    @apply invisible;
  }

  /* --- */

  .is-part-of-partial .disable-on-partial {
    @apply hidden;
  }

  /* Focus style */
  .focus-style {
    @apply focus:border-none focus:outline-2 focus:outline-offset-2 focus:outline-btn-primary-focus focus:ring-0 focus-visible:border-none focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-btn-primary-focus focus-visible:ring-0;
  }
}
