.theme-incognito {
  /* Primary color*/
  --color-primary: #64af5a;
  --color-primary-50: #f4faf3;
  --color-primary-100: #e7f4e4;
  --color-primary-200: #cee8ca;
  --color-primary-300: #a7d5a0;
  --color-primary-400: #64af5a;
  --color-primary-500: #549c4b;
  --color-primary-600: #418039;
  --color-primary-700: #366530;
  --color-primary-800: #2e512a;
  --color-primary-900: #274324;
  --color-primary-950: #10240f;
  /* Secondary color*/
  --color-secondary: #64af5a;
  --color-secondary-50: #f4faf3;
  --color-secondary-100: #e7f4e4;
  --color-secondary-200: #cee8ca;
  --color-secondary-300: #a7d5a0;
  --color-secondary-400: #64af5a;
  --color-secondary-500: #549c4b;
  --color-secondary-600: #418039;
  --color-secondary-700: #366530;
  --color-secondary-800: #2e512a;
  --color-secondary-900: #274324;
  --color-secondary-950: #10240f;
  /* Tertiary color*/
  --color-tertiary: #2e512a;
  --color-tertiary-50: #e9faff;
  --color-tertiary-100: #cef4ff;
  --color-tertiary-200: #a8edff;
  --color-tertiary-300: #6de6ff;
  --color-tertiary-400: #29d2ff;
  --color-tertiary-500: #00afff;
  --color-tertiary-600: #0085ff;
  --color-tertiary-700: #006bff;
  --color-tertiary-800: #005ae3;
  --color-tertiary-900: #0051b1;
  --color-tertiary-950: #2e512a;
  /* content colors */
  --color-content-text: #333;
  --color-content-text-invert: #fff;
  --color-content-text-light: #fff;
  --color-content-text-caption: rgb(55 65 81);
  --color-content-border: rgb(209 213 219);
  --color-content-border-focus: #2e512a;
  --color-content-link: var(--color-primary);
  --color-content-link-invert: #fff;
  --color-content-link-invert-hover: #fff;
  --color-content-link-hover: var(--color-primary-600);
  --color-content-link-focus: var(--color-primary-200);
  --color-content-bullets: var(--color-primary);
  --color-content-bullets-invert: #fff;
  --color-content-page-transition-bg: var(--color-primary-950);
  /* heading colors */
  --color-headings-h1: var(--color-primary);
  --color-headings-h1-invert: #fff;
  --color-headings-h2: var(--color-primary);
  --color-headings-h2-invert: #fff;
  --color-headings-h3: var(--color-primary-950);
  --color-headings-h3-invert: #fff;
  --color-headings-h4: var(--color-primary-950);
  --color-headings-h4-invert: #fff;
  --color-headings-h5: var(--color-primary-950);
  --color-headings-h5-invert: #fff;
  --color-headings-h6: var(--color-primary-950);
  --color-headings-h6-invert: #fff;
  --color-headings-icon-title: var(--color-primary-950);
  --color-headings-icon-subtitle: #333;
  /* button colors */
  --color-btn-primary-bg: var(--color-primary);
  --color-btn-primary-hover: #418039;
  --color-btn-primary-active: #366530;
  --color-btn-primary-focus: #cee8ca;
  --color-btn-primary-text: #fff;
  --color-btn-primary-text-hover: #fff;
  --color-btn-secondary-bg: var(--color-primary);
  --color-btn-secondary-hover: #418039;
  --color-btn-secondary-active: #366530;
  --color-btn-secondary-focus: #cee8ca;
  --color-btn-secondary-text: #fff;
  --color-btn-secondary-text-hover: #fff;
  --color-btn-tertiary-bg: var(--color-primary);
  --color-btn-tertiary-hover: #418039;
  --color-btn-tertiary-active: #366530;
  --color-btn-tertiary-focus: #cee8ca;
  --color-btn-tertiary-text: #fff;
  --color-btn-tertiary-text-hover: #fff;
  --border-radius-btn: 8px;
  /* section colors */
  --color-section-light: #f0f0f0;
  --color-section-dark: #2e512a;
  --color-section-text: #333;
  --color-section-text-invert: #fff;
  --color-section-text-zitat: #2e512a;
  /* stepper navigation colors */
  --color-stepper-btn-bg: var(--color-primary);
  --color-stepper-btn-hover: #418039;
  --color-stepper-btn-disabled: #a7d5a0;
  --color-stepper-btn-text: #fff;
  --color-stepper-index-bg: #f0f0f0;
  --color-stepper-index-text: #333;
  /* menu colors */
  --color-menu-btn-bg: var(--color-primary);
  --color-menu-btn-hover: #418039;
  --color-menu-btn-text: #fff;
  --color-menu-link-active: var(--color-primary);
  --color-menu-link-hover-text: #333;
  --color-menu-link-hover: var(--color-primary);
  --color-menu-link-text: #333;
  --color-menu-link-number-text: #c3c3c3;
  --color-menu-grid-bg: #418039;
  --color-menu-grid-text: #fff;
  --color-menu-grid-active: var(--color-primary);
  --color-menu-grid-more: var(--color-primary);
  --color-menu-grid-more-text: #fff;
  --color-menu-sublist-title: #2e512a;
  --color-menu-sublist-icon: #2e512a;
  --color-menu-sublist-border: var(--color-primary);
  /* accordion colors */
  --color-accordion-title: #2e512a;
  --color-accordion-hover: var(--color-primary);
  --color-accordion-focus: var(--color-primary);
  /* card colors */
  --color-card-icon: #2e512a;
  --color-card-title: #2e512a;
  --color-card-icon-invert: #fff;
  --color-card-title-invert: #fff;
  --color-card-teaser-text: #fff;
  --color-card-teaser-link: var(--color-primary);
  --color-card-teaser-link-text: #fff;
  /* counter colors */
  --color-counter-number: #2e512a;
  /* table colors */
  --color-table-border-th: rgb(209 213 219);
  --color-table-border-td: rgb(209 213 219);
  --color-table-bg: #fff;
  --color-table-bg-hover: #e7eff8;
  --color-table-bg-even: #fff;
  --color-table-bg-odd: #fff;
  --color-table-bg-head: #fff;
  --color-table-text-th-highlight: var(--color-primary);
  --color-table-text-th: #333;
  --color-table-text-td: #333;
  /* testimonial colors */
  --color-testimonial-quote: var(--color-primary);
  --color-testimonial-quote-text: #fff;
  /* hero colors */
  --color-hero-start-text: #fff;
  --color-hero-detail-step: #fff;
  --color-hero-detail-subtitle: #fff;
  --color-hero-detail-intro: #fff;
  --color-hero-detail-bg: #2e512a;
  /* download colors */
  --color-download-text: var(--color-primary);
  --color-download-btn-bg: var(--color-primary);
  --color-download-btn-hover: #b84900;
}
