@import url("./theme-vb.css");
@import url("./theme-incognito.css");

/* default theme */
:root {
  /* Primary color*/
  --color-primary: #004077;
  --color-primary-50: #f0f8ff;
  --color-primary-100: #dff0ff;
  --color-primary-200: #b9e1fe;
  --color-primary-300: #7bcafe;
  --color-primary-400: #34affc;
  --color-primary-500: #0a96ed;
  --color-primary-600: #0076cb;
  --color-primary-700: #004077;
  --color-primary-800: #055087;
  --color-primary-900: #0a4270;
  --color-primary-950: #072a4a;
  /* Secondary color*/
  --color-secondary: #ff6600;
  --color-secondary-50: #fff8ec;
  --color-secondary-100: #fff0d3;
  --color-secondary-200: #ffdca5;
  --color-secondary-300: #ffc26d;
  --color-secondary-400: #ff9d32;
  --color-secondary-500: #ff7f0a;
  --color-secondary-600: #ff6600;
  --color-secondary-700: #cc4902;
  --color-secondary-800: #a1390b;
  --color-secondary-900: #82310c;
  --color-secondary-950: #461604;
  /* Tertiary color*/
  --color-tertiary: #012f63;
  --color-tertiary-50: #e9faff;
  --color-tertiary-100: #cef4ff;
  --color-tertiary-200: #a8edff;
  --color-tertiary-300: #6de6ff;
  --color-tertiary-400: #29d2ff;
  --color-tertiary-500: #00afff;
  --color-tertiary-600: #0085ff;
  --color-tertiary-700: #006bff;
  --color-tertiary-800: #005ae3;
  --color-tertiary-900: #0051b1;
  --color-tertiary-950: #012f63;
  /* content colors */
  --color-content-text: #333;
  --color-content-text-invert: #fff;
  --color-content-text-light: #fff;
  --color-content-text-caption: rgb(55 65 81);
  --color-content-border: rgb(209 213 219);
  --color-content-border-focus: #012f63;
  --color-content-link: #0066b3;
  --color-content-link-invert: #fff;
  --color-content-link-invert-hover: #fff;
  --color-content-link-hover: #00579a;
  --color-content-link-focus: #00579a;
  --color-content-bullets: #ff6600;
  --color-content-bullets-invert: #fff;
  --color-content-page-transition-bg: #012f63;
  /* heading colors */
  --color-headings-h1: #ff6600;
  --color-headings-h1-invert: #ff6600;
  --color-headings-h2: #012f63;
  --color-headings-h2-invert: #fff;
  --color-headings-h3: #012f63;
  --color-headings-h3-invert: #fff;
  --color-headings-h4: #012f63;
  --color-headings-h4-invert: #fff;
  --color-headings-h5: #012f63;
  --color-headings-h5-invert: #fff;
  --color-headings-h6: #012f63;
  --color-headings-h6-invert: #fff;
  --color-headings-icon-title: #012f63;
  --color-headings-icon-subtitle: #333;
  /* button colors */
  --color-btn-primary-bg: #0066b3;
  --color-btn-primary-hover: #055087;
  --color-btn-primary-active: #055087;
  --color-btn-primary-focus: #7bcafe;
  --color-btn-primary-text: #fff;
  --color-btn-primary-text-hover: #fff;
  --color-btn-secondary-bg: #ff6600;
  --color-btn-secondary-hover: #b84900;
  --color-btn-secondary-active: #b84900;
  --color-btn-secondary-focus: #b84900;
  --color-btn-secondary-text: #fff;
  --color-btn-secondary-text-hover: #fff;
  --color-btn-tertiary-bg: #012f63;
  --color-btn-tertiary-hover: #0066b3;
  --color-btn-tertiary-active: #0066b3;
  --color-btn-tertiary-focus: #0066b3;
  --color-btn-tertiary-text: #fff;
  --color-btn-tertiary-text-hover: #fff;
  --border-radius-btn: 9999px;
  /* section colors */
  --color-section-light: #f0f0f0;
  --color-section-dark: #012f63;
  --color-section-text: #333;
  --color-section-text-invert: #fff;
  --color-section-text-zitat: #012f63;
  /* stepper navigation colors */
  --color-stepper-btn-bg: #0066b3;
  --color-stepper-btn-hover: #00579a;
  --color-stepper-btn-disabled: #66a3d1;
  --color-stepper-btn-text: #fff;
  --color-stepper-index-bg: #f0f0f0;
  --color-stepper-index-text: #333;
  /* menu colors */
  --color-menu-btn-bg: #0066b3;
  --color-menu-btn-hover: #00579a;
  --color-menu-btn-text: #fff;
  --color-menu-link-active: #ff6600;
  --color-menu-link-hover-text: #333;
  --color-menu-link-hover: #ff6600;
  --color-menu-link-text: #333;
  --color-menu-link-number-text: #c3c3c3;
  --color-menu-grid-bg: #00579a;
  --color-menu-grid-text: #fff;
  --color-menu-grid-active: #ff6600;
  --color-menu-grid-more: #ff6600;
  --color-menu-grid-more-text: #fff;
  --color-menu-sublist-title: #012f63;
  --color-menu-sublist-icon: #012f63;
  --color-menu-sublist-border: #ff6600;
  /* accordion colors */
  --color-accordion-title: #012f63;
  --color-accordion-hover: #ff6600;
  --color-accordion-focus: #ff6600;
  /* card colors */
  --color-card-icon: #012f63;
  --color-card-title: #012f63;
  --color-card-icon-invert: #fff;
  --color-card-title-invert: #fff;
  --color-card-teaser-text: #fff;
  --color-card-teaser-link: #ff6600;
  --color-card-teaser-link-text: #fff;
  /* counter colors */
  --color-counter-number: #012f63;
  /* table colors */
  --color-table-border-th: rgb(209 213 219);
  --color-table-border-td: rgb(209 213 219);
  --color-table-bg: #fff;
  --color-table-bg-hover: #e7eff8;
  --color-table-bg-even: #fff;
  --color-table-bg-odd: #fff;
  --color-table-bg-head: #fff;
  --color-table-text-th-highlight: #0066b3;
  --color-table-text-th: #333;
  --color-table-text-td: #333;
  /* testimonial colors */
  --color-testimonial-quote: #ff6600;
  --color-testimonial-quote-text: #fff;
  /* hero colors */
  --color-hero-start-text: #fff;
  --color-hero-detail-step: #fff;
  --color-hero-detail-subtitle: #fff;
  --color-hero-detail-intro: #fff;
  --color-hero-detail-bg: #012f63;
  /* download colors */
  --color-download-text: #0066b3;
  --color-download-btn-bg: #ff6600;
  --color-download-btn-hover: #b84900;
}
